.article{
    background-color: aliceblue;
    width: 780px;
}

.sub_article{
    background-color: lightcyan;
    width: 780px;
}


table{
    border-collapse: collapse;
    margin: 5px;
    margin-left: 0;
}

table td, table th{
    border: 1px solid black;   
    border-spacing: 0;
}

ul{
    margin-top: 0;
}

ul span{
    background-color: transparent;
    padding-left: 0;
    margin-left: 0;
}

li{
    font-weight: 700;
}

ul.weak li{
    font-weight: 500;
}

ul ul{
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

ul info{
    background-color: transparent;
    font-size: 0.9em;
    font-weight: 500;
    display: block;
}

ul.number li{
    list-style-type:decimal;
}

uwavy{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: wavy;
}

unchecked{
    border: 2px solid red;
    background-color: lightyellow;
    display: block;
    width: fit-content;
}
comment{
    font-size: 0.6em;
    color: darkslategray;
    display: block;

}
ultitle{
    font-weight: 700;
    display: block;
}